#app4 .circle{
    width:20vw;
    height: 20vw;
    margin-top: 10vh;
    margin-left: 10vh;
    border:1px solid red;
    border-radius: 50%;  
}
@keyframes change {
    0% {
        background:red;
    }
    100% {
        background:blue;
    }
}
#app4 .active{
    animation: change 1s infinite alternate linear;
  }

